[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
pandas = "*"
click = "*"
nb-black = "*"
bs4 = "*"
pytz = "*"
appnope = "*"

[requires]
python_version = "3.8"
