[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
pandas = "*"
geopandas = "*"
lxml="*"
html5lib = "*"
click = "*"
bs4 = "*"
pytz = "*"
appnope = "*"
tableauscraper = "==0.1.10"
urllib3 = ">=1.26.5"
flake8 = "*"
selenium = "*"
webdriver-manager = "*"
python-slugify = "*"
pygithub = "*"
nbclient = "*"
nbconvert = "*"
playwright = "*"
openpyxl = "*"
slugify = "*"

[requires]
python_version = "3.8"
